nav {
    color: white;
}

nav a {
    color: white;
}

.username {
    color: white;
}

h2 {
    color: white;
}

.index-text-box {
    color: white;
}

.index-sign-in {
    color: white;
}

.wrap-next {
    color: white;
}

.wrap-next-final {
    color: white;
}

h3 {
    color: white;
}

#team h4 {
    color: white;
}

p {
    color: white;
}

.feedback-form p {
    color: white;
}

.settings-container h2 {
    color: white;
}

.create-wrap-row {
    color: white;
}

.label {
    color: white;
}

.settings-row .button {
    color: white;
}

.create-wrap-row .button {
    color: white;
}

.manage-wrap-row .button {
    color: white;
}

.logout {
    background-color: #F1B111;
}

.delete {
    background-color: #FF1A72;
}

.halloween {
    background-color: #E84000;
}

.dark {
    background-color: #EB6123;
}

.light {
    background-color: #F1B111;
}

.english {
    background-color: #E84000;
}

.azerbaijani {
    background-color: #EB6123;
}

.russian {
    background-color: #F1B111;
}
