{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Spotify Wrapper{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            background-color: #0D0D0D;
            height: 100vh;
            background-image: url('{% static "img/background/Radiant.png" %}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 130%;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'wraps' %}">Wraps</a>
            <a href="{% url 'wrap_base' %}">Wrap base</a>
            <a href="{% url 'settings' %}">Settings</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <a href="{% url 'contact' %}">Contact The Team</a>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
