{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}

<!-- Development Team Section -->
<div class="centered-container">
    <section id="team">
        <h3>{% trans "Meet the Development Team"%}</h3>
        <p>{%  trans "We are Team 39 from CS 2340, dedicated to building user-friendly and robust applications. Our team is composed of:" %}</p>

        <div class="team-members">
            <div class="member">
                <img class="profile-pic" src="{% static 'img/profiles/Jack.png' %}" alt="Jack's photo">
                <h4>Jack English</h4>
                <p>{% trans "Frontend Developer" %}</p>
            </div>
            <div class="member">
                <img class="profile-pic" src="{% static 'img/profiles/Zach.png' %}" alt="Zach's photo">
                <h4>Zach Keschner</h4>
                <p>{% trans "Backend Developer" %}</p>
            </div>
            <div class="member">
                <img class="profile-pic" src="{% static 'img/profiles/Ilkin.png' %}" alt="Ilkin's photo">
                <h4>Ilkin Mammadli</h4>
                <p>{% trans "Full-Stack Developer and Product Owner" %}</p>
            </div>
            <div class="member">
                <img class="profile-pic" src="{% static 'img/profiles/Oliver.png' %}" alt="Oliver's photo">
                <h4>Oliver Thor</h4>
                <p>{% trans "Backend Developer" %}</p>
            </div>
            <div class="member">
                <img class="profile-pic" src="{% static 'img/profiles/Ian.png' %}" alt="Ian's photo">
                <h4>Ian Valderas</h4>
                <p>{% trans "Full-Stack Developer and Scrum Master" %}</p>
            </div>
        </div>
    </section>


    <!-- Contact Form -->
    <h3>{% trans "Send Us Your Feedback" %}</h3>
    <div class="feedback-form">
        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="subject" placeholder="Subject" required>
                <button type="submit">{% trans "Send" %}</button>
            </div>

            <div class="input-group">
                <textarea name="message" placeholder="Message" required></textarea>
            </div>

            <p>{{ result }}</p>
        </form>
    </div>
</div>

{% endblock %}