{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="index-outer-box">
        <div class="index-left-box">
            <div class="index-text-box">Connect your Spotify account this Fall to reveal your spooky taste.</div>
            {% if user.is_authenticated %}
                <a class="index-sign-in" href="{% url 'wraps_view' %}">See My Taste</a>
            {% else %}
                <a class="index-sign-in" href="{% url 'login' %}">Sign into Spotify</a>
            {% endif %}
        </div>
        <img class="pumpk-img" src="{% static 'img/pumpk.png' %}" alt="pumpkin image">
    </div>

<a href="{% url 'contact' %}" class="meet-team-button"></a>

{% endblock %}