{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="index-outer-box">
        <div class="index-left-box">
            <div class="index-text-box">{% trans "Connect your Spotify account this Fall to reveal your spooky taste." %}</div>
            {% if user.is_authenticated %}
                <a class="index-sign-in" href="{% url 'wraps_view' %}">{% trans "See My Taste" %}</a>
            {% else %}
                <a class="index-sign-in" href="{% url 'login' %}">{% trans "Sign into Spotify" %}</a>
            {% endif %}
        </div>
        {% if request.session.theme == 'holiday' %}
            <img class="pumpk-img" src="{% static 'img/pumpk.png' %}" alt="pumpkin image">
        {% else %}
            <img class="instruments-img" src="{% static 'img/instruments.png' %}" alt="instruments image">
        {% endif %}
    </div>

<a href="{% url 'contact' %}" class="meet-team-button"></a>

{% endblock %}