{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div>
    {% if request.session.theme == 'light' %}
        <div style="
        text-align: center;
        font-size: 64px; /* Larger font size for title */
        font-family: 'Georgia', serif;
        font-weight: 700; /* Bold font weight for emphasis */
        line-height: 1.2; /* Adjust line spacing for readability */
        margin: 100px 0 -100px; /* Add vertical spacing */
        color: black;">{% trans "Here are your top 5 artists:" %}<br></div>
    {% else %}
        <div style="
        text-align: center;
        font-size: 64px; /* Larger font size for title */
        font-family: 'Georgia', serif;
        font-weight: 700; /* Bold font weight for emphasis */
        line-height: 1.2; /* Adjust line spacing for readability */
        margin: 100px 0 -100px; /* Add vertical spacing */
        color: #FFF;">{% trans "Here are your top 5 artists:" %}<br></div>
    {% endif %}
    <div class="index-outer-box">
        <div class="index-left-box">
            <div class="index-text-box">
{#                {% if top_artists and top_artists.0 != "Unfortunately, due to stricter spotify API restrictions, we can no longer show this :(" %}#}
{#                    {% for artist in top_artists %}#}
{#                        {{ forloop.counter }}. {{ artist }} <br>#}
{#                    {% endfor %}#}
{#                {% else %}#}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "az" %}
                        Təəssüf ki, daha sərt spotify API məhdudiyyətlərinə görə biz bunu artıq göstərə bilmirik :(
                    {% elif LANGUAGE_CODE == "ru" %}
                        К сожалению, из-за более строгих ограничений API Spotify мы больше не можем это показывать :(
                    {% else %}
                        Unfortunately, due to stricter spotify API restrictions, we can no longer show this :(
                    {% endif %}
{#                {% endif %}#}
            </div>
        </div>
        {% if request.session.theme == 'light' %}
            <img class="wrap-img" src="{% static 'img/wrap-icons/artist_black.png' %}" alt="artist image">
        {% else %}
            <img class="wrap-img" src="{% static 'img/wrap-icons/artist.png' %}" alt="artist image">
        {% endif %}
    </div>
    <div class="wrap-next-container">
        <a class="wrap-next" href="{% url 'view_wrap_with_id' page_num=3 wrap_id=wrap_num %}">{% trans "Next" %}</a>
        {% if request.session.theme == 'light' %}
        <img class="arrow_forward_ios" src="{% static 'img/wrap-icons/arrow_forward_ios_black.png' %}" alt="forward arrow">
        {% else %}
        <img class="arrow_forward_ios" src="{% static 'img/wrap-icons/arrow_forward_ios.png' %}" alt="forward arrow">
        {% endif %}
    </div>
</div>

{% if request.session.theme == 'light' %}
<a href="{% url 'contact' %}" style="
    position: fixed;
    bottom: 3%;
    left: 4%;
    width: 230px;
    height: 75px;
    background-image: url({% static 'img/footer-icon-light.svg' %});
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
"></a>
{% else %}
<a href="{% url 'contact' %}" class="meet-team-button"></a>
{% endif %}

{% endblock %}
