{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <div>
        <div class="index-outer-box">
            <div class="index-left-box">
                <div class="index-text-box">{% trans "Thanks for listening!" %}</div>
                <div class="index-text-box">Thanks for listening! For some extra fun, here's what we think you dress like based on your music taste!</div>
                <div
                    style="
                        padding: 15px; /* Optional padding */
                        background-color: transparent; /* Optional background color */
                        white-space: normal; /* Ensures text wraps within the box */
                        word-wrap: break-word; /* Breaks long words if needed */
                        color: #FFF;
                        font-family: Inter, sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        width: 80%;
                    "
                >
                    {{ wrap_LLM }}
                </div>

            </div>
            <img class="wrap-img" src="{% static 'img/wrap-icons/equalizer.png' %}" alt="equalizer image">
        </div>
        <div class="wrap-next-container">
            <a class="wrap-next-final" href="{% url 'wraps_view' %}">{% trans "Back to wraps" %}</a>
            <img class="arrow_forward_ios" src="{% static 'img/wrap-icons/arrow_forward_ios.png' %}" alt="forward arrow">
        </div>
    </div>


<a href="{% url 'contact' %}" class="meet-team-button"></a>

{% endblock %}