{% extends 'wrap_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div>
        <div class="index-outer-box">
            <div class="index-left-box">
                <div class="index-text-box">Here are your top 5 genres: <br>
                    1. genre <br>
                    2. genre <br>
                    3. genre <br>
                    4. genre <br>
                    5. genre
                </div>

            </div>
            <img class="wrap-img" src="{% static 'img/wrap-icons/radio.png' %}" alt="radio image">
        </div>
        <div class="wrap-next-container">
            <a class="wrap-next" href="{% url 'wrap7' %}">Next</a>
            <img class="arrow_forward_ios" src="{% static 'img/wrap-icons/arrow_forward_ios.png' %}" alt="forward arrow">
        </div>
    </div>


<a href="{% url 'contact' %}" class="meet-team-button"></a>

{% endblock %}
