{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div>
        <div class="index-outer-box">
            <div class="index-left-box">
                <div class="index-text-box">Thanks for listening!</div>

            </div>
            <img class="wrap-img" src="{% static 'img/wrap-icons/equalizer.png' %}" alt="equalizer image">
        </div>
        <div class="wrap-next-container">
            <a class="wrap-next-final" href="{% url 'wraps_view' %}">Back to wraps</a>
            <img class="arrow_forward_ios" src="{% static 'img/wrap-icons/arrow_forward_ios.png' %}" alt="forward arrow">
        </div>
    </div>


<a href="{% url 'contact' %}" class="meet-team-button"></a>

{% endblock %}