<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Spotify Wrapper{% endblock %}</title>
</head>
<body>
    <nav>
    <a href="{% url 'index' %}">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'wraps' %}">View Wraps</a>
        <a href="{% url 'delete_account' %}">Delete Account</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <a href="{% url 'contact' %}">Contact The Team</a>
</nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
