name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt
        pip install pytest-django coverage

    - name: Run migrations for tests
      env:
        DJANGO_SETTINGS_MODULE: CS2340_Team39_Project2.settings
      run: |
        source venv/bin/activate
        python manage.py migrate

    - name: Run tests with coverage
      env:
        DJANGO_SETTINGS_MODULE: CS2340_Team39_Project2.settings
      run: |
        source venv/bin/activate
        coverage run -m pytest spotify_wrapped/tests.py
        coverage report --fail-under=80
